---
import Analytics from '@vercel/analytics/astro'
import Footer from '@/components/Footer.svelte'
import MenuBasic from '@/components/MenuBasic.svelte'
import { defaultLang } from '@/i18n/ui'

const lang = Astro.currentLocale || defaultLang
export interface Props {
  title: string
  frozen?: boolean
}

const props = Astro.props
const title = props.title
const frozen = props.frozen
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="La comptabilitat lleugera" />
    <meta name="view-transition" content="same-origin" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/assets/pluma.webp" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet" />
  </head>
  <body>
    <Analytics />
    <MenuBasic {lang} client:load {frozen} />

    <slot />

    <Footer {lang} />

    <style lang="scss" is:global>
      @use '@/sass/global.scss';
    </style>
  </body>
</html>

<script>
  /* --- Smooth Scroll --- */
  import Lenis from 'lenis'
  import 'lenis/dist/lenis.css'

  const lenis = new Lenis()

  // Use requestAnimationFrame to continuously update the scroll
  const raf = (time) => {
    lenis.raf(time)
    requestAnimationFrame(raf)
  }

  requestAnimationFrame(raf)
</script>
